body {
  margin: 0;
  height: 100vh;
  background-color: rgb(27, 26, 26);
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;  
  flex-direction: column;   /* vertical */
   background: linear-gradient(
    270deg,
    yellow,
    black
  );
  background-size: 800% 800%;
  animation: gradientMove 13s ease infinite;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 10% 80%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.outer_border{
    width: 900px;
    height: 500px;
    background-color: yellow;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
   
}

.n1{
  
    padding: 12px 50px;
    border: transparent;
    background-color: rgb(17, 207, 4);
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.25s ease;
}
.date-config label{
    font-family: 'Poppins';
    font-weight: bold;
    
}
.date-config input{
    width:250px;
    padding:12px 14px;
    font-size: 16px;
    font-family: 'Poppins';
    border: transparent;
    border-radius:8px;
    color:#120a0a;
    background-color: rgb(151 189 77 / 96%);


}

.child{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
}

.btn button{
    padding: 20px 60px;
    font-size: 29px;
    font-weight: 100;
    font-family: 'Poppins',sans-serif;
    /* background-color:#92e200; */
    border-radius: 15px;
    font-weight:bold;
    transition: transform 0.25s ease;
    border: transparent;
    
}

.reset{
    background-color: red;
    
}

.reset:hover{
    transform: scale(1.08);
    cursor: pointer;
    background-color: #c11818;
}

.pause{
    background-color: rgb(234, 221, 36);
}

.pause:hover{
    transform: scale(1.08);
    cursor: pointer;
    background-color: #b9c118;
}
.n1:hover{
   transform: scale(1.08);
   cursor: pointer;
}

h1{
    margin-bottom: 30px;
    color: rgb(214, 200, 69);
    font-size: 70px;
    font-family: 'Poppins';
}


.time-box{
    width: 180px;
    height: 150px;
    background-color: black;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number{
    font-size:40px;
    color:rgb(212, 212, 100)
}


.label{
    font-size: 40px;
    color:rgb(212, 212, 100)
}